__pycache__
.idea/
node_modules
bundle.js
*.mp3
*.pyc
.git/
.gitignore
app_console.py
*.db
.env
.venv
venv/
ENV/
env/
*.md
readme-images/
static/audio/*.mp3
static/*.mp3
static/js/bundle.js
.dockerignore
Dockerfile