body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.1rem;
    background-color: #f9f9f9;
    color: #333;
}

.transcription {
    border-bottom: dashed gray 2px;
    margin: 0 0 0 0;
    padding: 0 0 0.4rem 0;
}

.transcription p {
    margin: 0;
}

.transcription h3 {
    margin: 0.5rem 0;
}

.transcription .operations {
    background-color: antiquewhite;
    width: 8rem;
    margin: 0.4rem 0;
    padding: 0.1rem 1rem;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 0.5rem;
    border: 1px solid #ddd;
    min-width: 4.5rem;
}

td {
    padding: 0.1rem 0.6rem;
    border: 1px solid #ddd;
    text-align: left;
    max-width: 50rem;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #e6e6e6;
}

.time-stamp {
    min-width: 2rem;
    max-width: 2rem;
}

.id {
    min-width: 1rem;
    max-width: 1rem;
    font-size: 70%;
}

.version {
    width: 1rem;
}

tr td.version {
    text-align: center;
    font-size: 70%;
}

.edit,
.remove,
.add {
    min-width: 2rem;
    max-width: 3rem;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 98%;
    margin: 0 auto;
    justify-content: center;
    border: #d2d2d1 1px solid;
    padding: 1rem;
}

.header {
    text-align: center;

}

.login-operations-box {
    display: flex;
    max-width: 400px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    padding: 1rem 3rem;
    background: linear-gradient(135deg, #979dbb 0%, #7d6d8d 100%);
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.login-operations-box a {
    color: rgb(217, 217, 217);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    border-radius: 7px;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}


.login-operations-box a:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.login-operations-box.register-box {

    background: linear-gradient(185deg, #d6d8e3 0%, #b8aac7 100%);
}


.flash-message {
    text-align: center;
    color: rgb(155, 84, 140);
    font-weight: bold;
}


audio {
    width: 90%;
}

.text_id {
    font-size: 60%;
    color: rgb(99, 91, 80);
}

.seconds {
    font-size: 50%;
    color: rgb(182, 177, 169);
    padding: 0;
    margin: 0;
}

.menu {

    display: flex;
}

.menu ul {
    margin: 0;
    display: flex;
    margin-left: auto;
}

.menu ul li {
    list-style: none;
    margin-right: 2rem;
    font-weight: bold;
    font-size: 120%;
    padding: 0 1rem;
}

.result_text {
    margin: 0 0.5em;
}

.result_media_title {
    color: #777;
    font-size: 80%;
}

.search-section {
    border-bottom: #777 solid 2px;
    padding-bottom: 1rem;
}



h1 {
    color: rgb(99, 89, 110);
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;

}

.transcription-form-page form {
    background: rgb(237, 237, 237);
    width: 80%;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align: left;

}

.transcription-form-page label,
.transcription-form-page form p {
    color: #333;
    font-size: 1rem;
    line-height: 2;
    font-weight: bold;
    margin: 0;
}

.transcription-form-page input[type="text"],
.transcription-form-page input[type="file"],
.transcription-form-page select,
.transcription-form-page textarea {
    width: 96%;
    padding: 0.4rem 0.3rem;
    font-size: 100%;
}

.transcription-form-page select {
    margin-top: 1rem;
    width: 50%;
}

.create-timed-texts {
    background-color: rgb(217, 198, 215);
    width: 11rem;
    padding: 0.3rem 1rem;
    margin: 0 0 20px 0;
}

.edit-text-row-wrapper {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #5aa05d;
    color: white;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    margin-right: 4rem;
}

input[type="submit"][name="cancel"] {
    background-color: #ab8b89;
    margin-right: 0;
}

.text-to-be-removed {
    font-weight: bold;
    color: rgb(71, 56, 56);
    font-size: 110%;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    background-color: white;
}

table tr.highlighted-text-fragment {
    background-color: #f8ea9f;
}