body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    background-color: #f9f9f9;
    color: #333;
}

.transcription {
    border-bottom: dashed gray 2px;
    margin: 0 0 0 0;
    padding: 0 0 0.4rem 0;
}

.transcription p {
    margin: 0;
}

.transcription h3 {
    margin: 0.5rem 0;
}

.transcription .operations {
    background-color: antiquewhite;
    width: 8rem;
    margin: 0.4rem 0;
    padding: 0.1rem 1rem;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 0.5rem;
    border: 1px solid #ddd;
    min-width: 4.5rem;
}

td {
    padding: 0.1rem 0.6rem;
    border: 1px solid #ddd;
    text-align: left;
    max-width: 50rem;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #e6e6e6;
}

.time-stamp {
    min-width: 2rem;
    max-width: 2rem;
}

.id {
    min-width: 1rem;
    max-width: 1rem;
    font-size: 70%;
}

.version {
    width: 1rem;
}

tr td.version {
    text-align: center;
    font-size: 70%;
}

.edit,
.remove,
.add {
    min-width: 2rem;
    max-width: 3rem;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    margin: 0 auto;
    justify-content: center;
    border: #d2d2d1 1px solid;
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

.login-page-view {
    display: flex;
    max-width: 400px;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    padding: 2rem 3rem;
}