<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Luo litterointi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <div>
        <a href="/">Palaa etusivulle</a>
        {% if session.user_id %}
        <div>
            <h2>Luo uusi litterointi</h2>

            <form onkeydown="return event.key != 'Enter';" action="/new_transcription" method="post"
                enctype=multipart/form-data>
                <p>
                    Otsikko:
                    <input type="text" size="50" maxlength="250" name="title" required />
                    <br />
                    Äänitiedoston nimi tai url:
                    <input type="text" size="50" maxlength="250" name="source_path" required />
                    <br />
                    Tekstityksen lähde/formaatti:
                    <select name="source" id="source">
                        <option value="youtube">Youtube auto captions</option>
                        <option value="word">Word transcribe</option>
                        <option value="webvtt">WebVTT</option>
                    </select>

                    <br />
                    Lajityyppi:
                    <input type="text" maxlength="100" name="genre" />
                    <br />
                    Tallenteen päivämäärä:
                    <input type="text" size="50" maxlength="30" name="record_date" />

                    <br />
                    Pituus ( h:m:s / sec):
                    <input type="text" size="50" pattern="[0-9:]*" maxlength="30" name="duration_sec" />

                    <br />
                    Lisenssi:
                    <input type="text" size="50" maxlength="100" name="license" />

                    <br />
                    Metadata:
                    <input type="text" size="50" maxlength="500" name="extra_meta_data" />
                    <br />
                    Lisää äänitiedosto:
                    <input type="file" name="file">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

                </p>
                <p>
                    Aikaleimattu teksti (kopioi Word transcribe toiminnon tulos tai youtube tekstitys tähän):<br />
                    <textarea name="raw_content" rows="20" cols="80"></textarea>
                </p>
                <input type="submit" value="Lähetä" />
            </form>
        </div>

        {% else %}
        <a href="/login">Kirjaudu luodaksesi uuden litteroinnin</a>

        {% endif %}
    </div>
</body>

</html>