<!DOCTYPE html>
<html>

<head>
  <title>Litteroinnin muokkaus</title>
</head>

<body>
  <h1>Litteroinnin muokkaus</h1>

  <form action="/edit/{{ transcription.id }}" method="post">
    <p>
      Otsikko:
      <input type="text" name="title" value="{{transcription.title}}" />
      <br />
      Äänitiedoston nimi tai url:
      <input type="text" size="60" name="source_path" value="{{transcription.source_path}}" />
      <br />

      Tekstityksen lähde:
      <select name="source" id="source" value="{{transcription.source}}">
        <option value="youtube" {% if transcription.source=='youtube' %} selected {% endif %}>Youtube auto captions
        </option>
        <option value="word" {% if transcription.source=='word' %} selected {% endif %}>Word transcribe</option>
      </select>

      <br />
      Lajityyppi:
      <input type="text" name="genre" value="{{transcription.genre}}" />

      <br />
      Lisenssi:
      <input type="text" size="50" name="license" value="{{transcription.license}}" />
    </p>
    <p>
      Aikaleimattu teksti<br />
      <textarea name="raw_content" rows="10" cols="90">{{transcription.raw_content}}</textarea>
    </p>
    <input type="submit" value="Lähetä" />
  </form>
</body>

</html>