<!DOCTYPE html>
<html>

<head>
  <title>Litteroinnin muokkaus</title>
</head>

<body>
  <h2>Litteroinnin muokkaus</h2>
  <p>Muokkaa yksittäistä lausetta</p>

  <form action="/edit_text_fragment/{{ text_fragment.id }}" method="post">
    <p>
      <span> {{text_fragment.id}} </span>
      <span> {{text_fragment.start_ms}} </span>
      <!-- <input type="text" name="words" size="120" value="{{text_fragment.words}}" /> -->
      <textarea name="words" rows="4" cols="90">{{text_fragment.words}}</textarea>
      <input hidden name="return_page" value="{{return_page}}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </p>

    <input type="submit" value="Lähetä" />
  </form>
</body>

</html>