<!DOCTYPE html>
<html>

<head>
  <title>Litteroinnin muokkaus</title>
</head>

<body>
  <h1>Litteroinnin muokkaus</h1>

  <form onkeydown="return event.key != 'Enter';" action="/edit/{{ transcription.id }}" method="post"
    enctype=multipart/form-data>
    <p>
      Otsikko:
      <input type="text" size="90" maxlength="250" name="title" required value="{{transcription.title}}" />
      <br />
      Äänitiedoston nimi tai url:
      <input type="text" size="60" maxlength="250" name="source_path" required value="{{transcription.source_path}}" />
      <br />

      Tekstityksen lähde:
      <select name="source" id="source" value="{{transcription.source}}">
        <option value="youtube" {% if transcription.source=='youtube' %} selected {% endif %}>Youtube auto captions
        </option>
        <option value="word" {% if transcription.source=='word' %} selected {% endif %}>Word transcribe</option>
        <option value="webvtt" {% if transcription.source=='webvtt' %} selected {% endif %}>WebVTT</option>

      </select>

      <br />
      Lajityyppi:
      <input type="text" name="genre" maxlength="100" value="{{transcription.genre}}" />

      <br />
      Tallenteen päivämäärä:
      <input type="text" size="50" maxlength="30" name="record_date" value="{{transcription.record_date}}" />

      <br />
      Pituus ( h:m:s / sec):
      <input type="text" size="50" pattern="[0-9:]*" maxlength="30" name="duration_sec"
        value="{{transcription.duration_sec}}" />

      <br />
      Lisenssi:
      <input type="text" size="50" name="license" maxlength="100" value="{{transcription.license}}" />
      <br />
      Metadata:
      <input type="text" size="50" name="extra_meta_data" maxlength="500" value="{{transcription.extra_meta_data}}" />
      <br />
      Lisää äänitiedosto:
      <input type="file" name="file">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

    </p>
    <p>
      Aikaleimattu teksti<br />
      <textarea name="raw_content" rows="10" cols="90">{{transcription.raw_content}}</textarea>
    </p>
    <input type="submit" value="Lähetä" /> <a href="/transcription/{{ transcription.id }}"> <input type="button"
        value="Peruuta" /> </a>
  </form>
</body>

</html>