<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Litteroinnit</title>
  <style>
    .transcription {
      border-bottom: dashed gray 2px;
      margin: 0 0 0 0;
      padding: 0 0 0.4rem 0;
    }

    .transcription p {
      margin: 0;
    }

    .transcription h3 {
      margin: 0.5rem 0;
    }

    .transcription .operations {
      background-color: antiquewhite;
      width: 8rem;
      margin: 0.4rem 0;
      padding: 0.1rem 1rem;
    }
  </style>
</head>

<body>
  <div>
    <h1>Litteroinnit</h1>
    <div><a href="/search">Hakusivu</a> | <a href="/stats">Tilastoja</a></div>
    <div>
      {% if session.user_id %}
      <h2>Tervetuloa!</h2>
      {% if user.username %}
      <p>Olet kirjautunut sisään käyttäjänä {{ user.username}}</p>
      <p><a href="/user/{{ user.id}} "> {{ user.username}} käyttäjä sivut </a></p>
      {% endif %}
      <hr>
      <div>
        <p><a href="/create_transcription">Luo uusi litterointi</a></p>
      </div>

      <hr>
      <h2>Tallennetut litteroinnit</h2>
      <hr>
      <p>
        <a href="/{{ page - 1 }}">&lt;&lt;</a>
        Sivu {{ page }}/{{ page_count }}
        <a href="/{{ page + 1 }}">&gt;&gt;</a>
      </p>
      {% for transcription in transcriptions %}
      <div class="transcription">
        <h3>
          <a href="/transcription/{{ transcription.id }}">{{ transcription.title }}</a>
        </h3>
        <p>Tiedosto: {{ transcription.source_path }} </p>
        <p>Lajityyppi: {{ transcription.genre }} </p>
        <p>Käyttäjä: {{ transcription.username }} </p>
        <p>Muokattu: {{ transcription.last_modified }} </p>
        <p class="operations">
          <a href="/edit/{{ transcription.id }}">Muokkaa</a>
          {% if session.user_id == transcription.user_id %}
          | <a href="/remove/{{ transcription.id }}">Poista</a>
          {% endif %}
        </p>

      </div>
      {% endfor %}
      <p>
        <a href="/{{ page - 1 }}">&lt;&lt;</a>
        Sivu {{ page }}/{{ page_count }}
        <a href="/{{ page + 1 }}">&gt;&gt;</a>
      </p>
      <hr />

      {% endif %}
    </div>



    <div>
      <p>
        <a href="/register">Luo tunnus</a> |
        {% if session.user_id %}
        <a href="/logout">Kirjaudu ulos</a>
        {% else %}
        <a href="/login">Kirjaudu sisään</a>
        {% endif %}
      </p>
    </div>

  </div>
</body>

</html>