<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Litteroinnit</title>
</head>

<body>
  <div>
    <h1>Litteroinnit</h1>
    <div>
      {% if session.user_id %}
      <h2>Tervetuloa!</h2>
      <p>Olet kirjautunut sisään käyttäjänä {{ session.user_id}}</p>
      <hr>
      <h2>Tallennetut litteroinnit</h2>
      {% endif %}
    </div>
    <div>
      <p>
        <a href="/register">Luo tunnus</a> |
        {% if session.user_id %}
        <a href="/logout">Kirjaudu ulos</a>
        {% else %}
        <a href="/login">Kirjaudu sisään</a>
        {% endif %}
      </p>
    </div>

  </div>
</body>

</html>