<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Litteroinnit</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <style>

  </style>
</head>

<body>
  <div class="main-wrapper">
    <div class="header">
      <h1>Litteroinnit</h1>
    </div>
    {% for message in get_flashed_messages() %}
    <p class="flash-message">
      <b>{{ message }}</b>
    </p>
    {% endfor %}

    {% if user.username %}
    <div><a href="/search">Hakusivu</a> | <a href="/stats">Tilastoja</a></div>
    {% endif %}
    <div>
      {% if session.user_id %}
      <h2>Tervetuloa!</h2>
      {% if user.username %}
      <p>Olet kirjautunut sisään käyttäjänä {{ user.username}}</p>
      <p><a href="/user/{{ user.id}} "> {{ user.username}} käyttäjä sivut </a></p>
      {% endif %}
      <hr>
      <div>
        <p><a href="/create_transcription">Luo uusi litterointi</a></p>
      </div>

      <hr>
      <h2>Tallennetut litteroinnit</h2>
      <hr>
      <p>
        <a href="/{{ page - 1 }}">&lt;&lt;</a>
        Sivu {{ page }}/{{ page_count }}
        <a href="/{{ page + 1 }}">&gt;&gt;</a>
      </p>
      {% include 'transcriptions_table_listing.html' %}
      <p>
        <a href="/{{ page - 1 }}">&lt;&lt;</a>
        Sivu {{ page }}/{{ page_count }}
        <a href="/{{ page + 1 }}">&gt;&gt;</a>
      </p>
      <hr />

      {% endif %}
    </div>



    <div>
      <p>
        {% if session.user_id %}
        <a href="/logout">Kirjaudu ulos</a>
        {% else %}
      <div class="login-page-view">
        <a href="/register">Luo tunnus</a>

        <a href="/login">Kirjaudu sisään</a>
      </div>
      {% endif %}
      </p>
    </div>

  </div>
</body>

</html>