<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Haku</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
        .result_text {
            margin: 0 0.5em;
        }

        .result_media_title {
            color: #777;
            font-size: 80%;
        }

        .search-section {
            border-bottom: #777 solid 2px;
            padding-bottom: 1rem;
        }
    </style>
</head>

<body>
    <div>
        <a href="/">Palaa etusivulle</a>
        <h2>Haku</h2>
        <div class="search-section">
            <form action="/search" method="get">
                <p>
                    Hae litteroinneista hakusanalla:
                    {% if text_query %}
                    <input type="text" name="query" value="{{ text_query }}" />
                    {% else %}
                    <input type="text" name="query" />
                    {% endif %}
                </p>
                <input type="submit" value="Hae" />
            </form>
        </div>
        <div class="search-section">
            <form action="/search_titles" method="get">
                <p>
                    Hae otsikoista:
                    {% if title_query %}
                    <input type="text" name="query" value="{{ title_query }}" />
                    {% else %}
                    <input type="text" name="query" />
                    {% endif %}
                </p>
                <input type="submit" value="Hae" />
            </form>
        </div>
        <div class="search-section">
            <form action="/search_file_name" method="get">
                <p>
                    Hae tiedostonimellä:
                    {% if file_name_query %}
                    <input type="text" name="query" value="{{ file_name_query }}" />
                    {% else %}
                    <input type="text" name="query" />
                    {% endif %}
                </p>
                <input type="submit" value="Hae" />
            </form>
        </div>
        {% if file_name_query or text_query or title_query %}

        <h2>Tulokset</h2>
        {% if results %}
        <h3>Hakutulokset tekteistä</h3>
        <ul>
            {% for result in results %}
            <li>
                <a href="/show_search_result_context/{{ result.id }}">{{ result.id }}</a>
                <span class="result_text"> {{ result.words }} </span> | <a
                    href="/transcription/{{ result.transcription_id }}">
                    <span class="result_media_title"> {{
                        result.title }}</span></a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}


        {% if title_search_results %}
        <h3>Litterointi hakutulokset </h3>
        <ul>
            {% for result in title_search_results %}
            <li>
                <a href="/transcription/{{ result.id }}">{{ result.id }}</a>
                <span class="result_text"> {{ result.title }} </span>
                <span class="result_text"> {{ result.source_path }} </span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}


        {% endif %}
    </div>
    </div>
</body>

</html>