<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Tilastoja</title>
</head>

<body>

  <div>
    <h1>Tilastoja</h1>
    <h2>Duplikaatit tiedoston mukaan:</h2>

    <ul>
      {% for dup in duplicates %}
      <li> <a href="/transcription/{{ dup.id }}">{{dup.id}} </a> : {{dup.source_path}} </li>
      {% endfor %}
    </ul>
    <hr />
    <h2>Lajityypit:</h2>

    <ul>
      {% for genre_stat in genre_stats %}
      <li> <a href="/transcriptions_by_genre/{{genre_stat.genre}}">{{genre_stat.genre}} </a> : {{genre_stat.count}}
      </li>
      {% endfor %}
    </ul>


    <hr />
    <h2>Lähteet:</h2>

    <ul>
      {% for source_stat in source_stats %}
      <li> <a href="/transcriptions_by_source/{{source_stat.source}}">{{source_stat.source}} </a> :
        {{source_stat.count}} </li>
      {% endfor %}
    </ul>


    <hr />
    <h2>Käyttäjät:</h2>

    <ul>
      {% for user_stat in user_stats %}
      <li> <a href="/transcriptions_by_user/{{user_stat.user_id}}">{{user_stat.username}} </a> : {{user_stat.count}}
      </li>
      {% endfor %}
    </ul>


    <hr />
    <p>
      <a href="/">Etusivulle</a>
    </p>
  </div>
</body>

</html>